<!doctype html>
<html lang="en" BORDER=8>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'core/css/boo.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">

    <title>BLIBLIOTECA LEYENTO TUS SUEÑOS</title>
  </head>
  <body style="background-color:black;">
<hr>

<TABLE>
<TR><TD>
<MARQUEE><h1 style="color:white;">BLIBLIOTECA LEYENDO TUS SUEÑOS </h1></MARQUEE>
</TD></TR>
</TABLE>

<hr>
  <div id="ñ" class="container text-center">
  </div>
    <div id="hh" class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
           <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sci-fi-book-cover-template-a1ec26573b7a71617c38ffc6e356eef9_screen.jpg?ts=1561547637" class="d-block w-100" alt="..." width="100px" height="200px"> 
          <div class="carousel-caption d-none d-md-block">
            <h5>CARTAS DE AMOR A LOS MUERTOS</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img src="https://e00-telva.uecdn.es/assets/multimedia/imagenes/2017/01/04/14835336475098.jpg" class="d-block w-100" alt="..." width="100px" height="200px">
          <div class="carousel-caption d-none d-md-block">
            <h5>EL PODER DEL AMOR PROPIO</h5>
            
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/cartas.jpg'%}" class="d-block w-100" alt="..."  width="100px" height="200px">
          <div class="carousel-caption d-none d-md-block">
            <h5>BAJO LA MISMA ESTRELLA</h5>
            
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'core/img/libro1.jpg'%}" class="d-block w-100" alt="..." width="100px" height="200px"> 
          <div class="carousel-caption d-none d-md-block">
            <h5>CARTAS DE AMOR</h5>
            
        </div>
      </div>
    </div>
  </div>
  
<hr><hr>
  <div id="jj" class="container-fluid">
      <div class="row" style="color:white;">
        <div class="col-6">
          <h1>NOSOTROS</h1>
          Promover una cultura académica que use los medios electrónicos para enseñar, aprender, investigar, comunicar y trabajar.
          Establecer/codificar manuales de procesos/ procedimientos/servicios y atemperar cualquiera otros documentos de la biblioteca y de la Universidad, para que reflejen el concepto de Biblioteca Virtual.</div>

          <div class="col-6">
            <img src="https://cdn.aarp.net/content/dam/aarp/travel/international/2016/08/1140-ss-01-book-best-libraries-esp.imgcache.revc5ee6c0bf21bde0a58b3552db13761d0.web.900.513.jpg" class="d-block w-100" alt="..." width="100px" height="200px">
           
            </div>
              <div class="col-6">
                  <img src="https://archivisticafacil.files.wordpress.com/2020/05/biblioteca_libros_cabezas_pixabay.jpg?w=1024" class="d-block w-100" alt="..." width="200px" height="200px">
                  </div>

              <div class="col-6">
                <h1>¿QUE BUSCAMOS?</h1>
                Capacitar e involucrar a la facultad en el uso de los recursos electrónicos para que incorporen la literacia de la información de manera tal que impacte el currículo educativo.
                Educar y desarrollar las destrezas de información necesarias en la comunidad académica para el uso eficiente de recursos electrónicos tanto en el campus como a distancia.
                Solicitar los recursos económicos necesarios para mantener actualizada la tecnología que se requiere.
                Lograr una infraestructura confiable, segura y rápida para ofrecer servicios a distancia, adquiriendo la tecnología necesaria para dar acceso remoto a  las colecciones y ofrecer servicios de forma virtual.
                Hacer los cambios adecuados a la planta física para alojar tanto al personal, usuarios y colecciones tradicionales como los equipos que hacen posible el manejo de la colección electrónica eficiente.</div>
      
                
      </div>
  </div>

<hr>

<MARQUEE WIDTH=100% HEIGHT=60><h2 style="color:white;" >***NUEVA EXPOSICION***</h2> </MARQUEE>

    <div id="jj" class="container-fluid">
      <div class="row" >
            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/libro-la-mente-o-cerebro-creativo-design-template-a19552c14c672351ba9ed341c37cadfd.jpg?ts=1583257242" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/the-creative-brain-white-book-cover-design-template-ead0f1d1bdd678c17caf496c7c89d22d.jpg?ts=1561527648" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf.jpg?ts=1594616847" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/sad-romance-kindle-book-cover-flyer-template-539b5fdf2dd2f6602c25ce81fbb5d877.jpg?ts=1589326539" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>
          </div>
      </div>
  <hr>

  <div id="jj" class="container-fluid">
      <div class="row" >
            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/night-drawing-black-book-cover-design-template-ea74bc762820a4c4a426e4df9f3897ef.jpg?ts=1591610852" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/fantasy-fiction-book-cover-design-template-6cde0f76e3bcb214fe1eedfead18fef4.jpg?ts=1594616847" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/kindle-book-cover-self-help-poster-template-a4a6fa2599baa163a3701ef120b0a47a.jpg?ts=1561527915" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>

            <div class="col-3">
                  <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/book-club-template-design-8276c9f972a570159c8ac68ce66bc9ab.jpg?ts=1595137042" class="d-block w-100" alt="..." width="200px" height="200px">
            </div>
          </div>
      </div>
  <hr><hr>

   
  <div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>REGISTRARSE</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="NOMBRE">
						
					</div>
                    <div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="EMAIL">
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder=" CONTRASEÑA">
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">GUARDAR
					</div>
					<div class="form-group">
						<input type="submit" value="REGISTRARME" class="btn float-right login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					<a href="#">REGISTRARME</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">OLVIDASTE TU CONTRASEÑA?</a>
				</div>
			</div>
		</div>
	</div>
</div>

<hr>

    <div class="container" style="color:white;">
    <h1 class="text-center">LIBROS DISPONIBLES</h1>
    <hr>
      <div class="row" >
        <table class="table" style="color:white;">
        <thead>
          <tr>
            <th scope="col">ISBN</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">AUTOR</th>
            <th scope="col">DESCRIPCION</th>
            <th scope="col">OPCIONES</th>
          </tr>
          </thead>
          <tbody>
          {% for ve in libros %}
          
          <tr>
          
            <td>{{ve.isbn}}</td>
            <td>{{ve.nombre}}</td>
            <td>{{ve.autor}}</td>
            <td>{{ve.descripcion}}</td>
            <td><a href="{% url 'form_mod_libro' ve.isbn %}">Modificar</a></td>
            <td><a href="{% url 'form_mod_libro' ve.isbn %}">Eliminar</a></td>
          </tr>
          {% endfor %}
         
          </tbody>
        </table>
        <a href="{% url 'form_libro' %}">Nuevo Libro</a>
        <br><br><br>
      </div>
    </div>



   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>